.wrapper {
  padding: 10px 30px;
  border-radius: 4px;
  color: var(--white);
}

.wrapper:disabled {
  background-color: var(--gray);
}

.fill {
  background-color: var(--dark-blue);
}

.stroke {
  border: 1px solid var(--dark-blue);
  background-color: var(--white);
  color: var(--dark-gray);
}
