.wrapper {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.active {
  background-color: var(--light-blue);
}

.wrapper,
.wrapper:hover {
  transition: 0.5s all ease-in-out;
}

.wrapper:hover {
  background-color: #dcedfc;
  cursor: pointer;
}

.wrapper > span {
  margin-right: 10px;
}
